[submodule "markiosk"]
	path = markiosk
	url = git@github.com:emrea-works/markdapp.client.git
	branch = newframework
[submodule "markedata"]
	path = markedata
	url = git@github.com:emrea-works/dapp-monoco-database.git
[submodule "markedprotocol"]
	path = markedprotocol
	url = git@github.com:emrea-works/markdapp.protocol.git
